.div-cards{
    width: 100%;
}
.div-cards ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}
.card-name{
    background-color: rgb(232, 229, 229);
    max-width: 300px;
    list-style: none;
}
.box{
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (max-width:768px) {
    .card-name{
        max-width: 100%;
    }
    .ul-d{
        padding: 0;
        margin: 0 1rem;
        margin-top: 2rem;
    }
.card-text{
    word-break: break-all;
    padding: 0 0.5rem;
}
.card-titulo{
    padding: 0 0.4rem;
}