.div-cards{
    width: 100%;
}
.div-cards ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}
.card-name{
    background-color: rgb(232, 229, 229);
    max-width: 300px;
    list-style: none;
}