.container-form{
    display: flex;
    width: 30vw;
    flex-direction: column;
}
.container-form input , textarea , button{
    background-color: rgb(232, 229, 229);
    margin: 0.2rem 6.5%;
    border-style: none;
}
.border{
    border-right: solid;
    border-color: rgb(181, 181, 181);
}

@media (max-width:768px) {
    .container-form{
        width: 100%;
        margin-top: 2rem;

    }
    .container-form input , textarea , button{
        background-color: rgb(232, 229, 229);
        margin: 0.2rem 10.5%;
        border-style: none;
    }
    .container-form textarea {
        background-color: rgb(232, 229, 229);
        height: 3rem;
    }
    .container-form button{
        background-color: rgb(232, 229, 229);
        height: 3rem;
    }
}
.Form-cadastro{
    display: flex;
    width: 30vw;
    flex-direction: column;
}
.Titulo-input{
    background-color: rgb(232, 229, 229);
    margin: 0.2rem 6.5%;
    border-style: none
}